<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webapp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", false)
</head>
<body>
    <div id="navbar">
        <a id="navbar-home" href="/"> not Moodle </a>
        <a class="navbar-item" href="courses"> Courses </a>
        <div id="navbar-right">
        @if (User.Identity.IsAuthenticated) {
            <p id="navbar-username"> @User.Identity.Name </p>
            <div id="navbar-username-dropdown">
                <a id="navbar-logout" href="javascript:logout()"> Logout </a>
            </div>
        } else {
            <a href="login"> Login </a>
        }
        </div>
    </div>
    <div class="not-moodle"></div>
        <div id="backdrop-image">
        <img src="/images/Not-Moodle-transparent.png">
    </div>
    <p id="page-title"> @ViewData["ContentTitle"] </p>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js"></script>

    @RenderSection("scripts", false)

</body>
</html>