<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    @RenderSection("styles", false)
</head>
<body>
    <div id="navbar">
        <a id="navbar-home" href="/"> not Moodle </a>
        <a class="navbar-item" href="courses"> Courses </a>
        <a id="navbar-login" href="login"> Login </a>
    </div>
    <p id="page-title"> @ViewData["ContentTitle"] </p>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>